body {
  background-color: "blue";
}

.button .is-danger {
  color: rgb(220, 20, 70);
}

.header-section {
  display: flex-inline;
  flex-direction: row;
}

.titlefont {
  font-size: 48px;
  font-family: 'Abril Fatface', cursive;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.904);
}

.titlefont2 {
  font-size: 48px;
  font-family: 'Abril Fatface',
  cursive;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.904);
}

.titlefont3 {
  font-size: 48px;
  font-family: 'Abril Fatface', cursive;
  font-weight: bold;
  color: rgb(220, 20, 70);
}

.playernameinput {
  margin-bottom: 20px;
}

.homepageimage {
  background-image: url("/images/homepageimage.jpg");
  background-repeat: repeat;
  height: 100vh;
  margin-top: -40px;
}

.sub-buttons {
   margin-top: 250px;
}
.title{
font-family: 'Abril Fatface',
cursive;
line-height: 1;
}

.header-container {
  line-height: 1;
}

.main-title{
  margin-top: 100px;
  margin-right: 25px;
}

.spoken{
  color: rgb(220, 20, 70);
  margin-bottom: 0px;
 }

/* .homepageimage{
  width: 50px;
  max-height: 50px;
  
} */

.aboutus {
  margin: 25px;
}

.instructions {
  margin: 25px;
}

.team-info {
  margin-top: 1.5em;
}

.leadertitle {
 margin: 25px;
}
 
#speech-field {
  font-size: 40px;
  color: teal;
  width: 100vw;
  text-align: center;
}

.countdown {
 text-align: center;
 margin-right: 100px;
}
.strong {
  font-weight: bold;
}

/* Modal stylings */

.modal {
  color: white;
  padding: 30px;
}

.podiumbox {
  max-height: 300px;
  width: 100%;
  margin: auto;
}

.iconimg {
  margin-bottom: -12px;
}

.podiumimg {
  margin: auto;
  width: 100%;
}

.podiumimgcentre {
  margin: auto;
  width: 100%;
}

.podiumimgleft {
  margin-right: -11px;
  width: 100%;

}

.podiumimgright {
  width: 100%;
  position: relative;
  bottom: 0.5px;
}

.flexbox-container {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  justify-items: flex-end;
  align-items: flex-end;

}

.flexbox-container>div {
  width: 33.3%;
  padding: 0px;
  flex-direction: column-reverse;
}

.flexbox-container>div:first-child {
  margin: 0px;
}

.disableClick {
  pointer-events:none;
}
