body {
  background-color: "blue";
}

button {
  background-color: "red";
}

.header-section {

}

.header-title {
  font-family: 'Abril Fatface', cursive;

}

.homepageimage {
  background-image: url("/images/homepageimage.jpg");
  background-repeat: repeat;
  height: 100vh;
  margin-top: -40px;
}

.sub-buttons {
   margin-top: 250px;
}

.title {
font-family: 'Abril Fatface',
cursive;
}


.main-title{
  margin-top: 100px;
  margin-right: 25px;
}

.spoken{
  color: lightblue;
 }

/* .homepageimage{
  width: 50px;
  max-height: 50px;
  
} */


.aboutus {
  margin: 25px;
}

.instructions {
  margin: 25px;
}

.team-info {
  margin-top: 1.5em;
}

.leadertitle {
 margin: 25px;
}
 
#speech-field {
  font-size: 40px;
  color: teal;
  width: 100vw;
  text-align: center;
}